{% extends 'base.html' %}

{% block content %}

<h2>Cart of {{ user.username }}</h2>
<h3>ID is {{ user.id }}</h3>
<br>

{% for product in all_items.all %}

<table>
	<tr><h5>{{ product.item.name }}</h5></tr>
	<tr><h5>{{ product.item.cost }}</h5></tr>
	<tr><h5>Quantity = {{ product.quantity }}</h5></tr>
	<tr><a href="/products/{{ user.id }}/cart/remove/{{ product.item.id }}" onClick="document.getElementById('remove{{ user.id }}_{{ product.item.id }}').submit()"><button>Remove</button></a></tr>
</table>

<br>

<form id="remove{{ user.id }}_{{ product.item.id }}" method="POST" action="{% url 'products:removeFromCart' pk=user.id pid=product.item.id %}">
	{% csrf_token %}
	<input type="hidden">
</form>

{% endfor %}

<h4>Total Cost is {{ total_cost }}</h4>
<h4><a href="/checkout">Checkout</a></h4>

{% endblock %}