{% extends 'base.html' %}

{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

<h2>Your Cart</h2><br>

{% if all_items.count == 0 %}
	<h4>Your cart looks empty, Let's buy something</h4>
	<h4>Go to Products Page</h4>

{% else %}
	{% for product in all_items.all %}

	<table>
		<tr><h5>{{ product.item.name }}</h5></tr>
		<tr><i class="fas fa-rupee-sign"></i>{{ product.item.cost }}</tr><br>
		<tr><a href="/products/{{ user.id }}/cart/{{ product.item.id }}" onClick="document.getElementById('add{{ user.id }}_{{ product.item.id }}').submit()"><i class="fas fa-caret-up"></i></a>
		<tr><h4>{{ product.quantity }}</h4></tr>
		<tr><a href="/products/{{ user.id }}/cart/remove/{{ product.item.id }}" onClick="document.getElementById('remove{{ user.id }}_{{ product.item.id }}').submit()"><i class="fas fa-caret-down"></i></a></tr>
	</table>

	<br>

	<form id="add{{ user.id }}_{{ product.item.id }}" method="POST" action="{% url 'products:add2cart' pk=user.id pid=product.item.id %}">
		{% csrf_token %}
		<input type="hidden">
	</form>

	<form id="remove{{ user.id }}_{{ product.item.id }}" method="POST" action="{% url 'products:removeFromCart' pk=user.id pid=product.item.id %}">
		{% csrf_token %}
		<input type="hidden">
	</form>

	{% endfor %}

	<h4>Total Cost is {{ total_cost }}</h4>
	<h4><a href="/checkout">Checkout</a></h4>
{% endif %}

{% endblock %}